<ion-view>
  <ion-nav-buttons side="left">
  	<h1 class="title">Resource</h1>
	<button class="button button-clear button-positive" ng-click="save()">OK</button>
  </ion-nav-buttons>
  <ion-content padding="true">
	<label class="item item-input">
		<span class="input-label">Name</span>
		<input type="text" ng-model="model.name">
	</label>
	<div class="item item-input" ng-init="item = {label: '-- Please select location --'}">
	 	<span class="input-label">Location</span>
		<fancy-select-object
			template-url='templates/resource/select.html'
			ng-selected="item"
			ng-model="locationList.models"
			title="Select Location">
		</fancy-select-object>
	</div>
	<label class="item item-input">
		<span class="input-label">Capacity</span>
		<input type="text" ng-model="model.capacity">
	</label>
	<label class="item item-input">
		<span class="input-label">Contact No.</span>
		<input type="text" ng-model="model.contactNo">
	</label>
	<div class="item item-input" ng-init="item2 = '-- Please select --'; option = ['Y','N']">
	 	<span class="input-label">UC Facility</span>
		<fancy-select
			template-url='templates/resource/select.html'
			ng-selected="item2"
			ng-model="option"
			title="UC Facility">
		</fancy-select>
	</div>
	<div class="item item-input" ng-init="item3 = '-- Please select --'; option = ['Y','N']">
	 	<span class="input-label">Admin acceptance</span>
		<fancy-select
			template-url='templates/resource/select.html'
			ng-selected="item3"
			ng-model="option"
			title="Admin Acceptance">
		</fancy-select>
	</div>
  </ion-content>
</ion-view>