<ion-view>
  <ion-nav-buttons side="left">
  	<h1 class="title">Resource</h1>
	<button class="button button-clear button-positive" ng-click="controller.ok()">OK</button>
  </ion-nav-buttons>
  <ion-content padding="true">  	
	<label class="item item-input">
		<span class="input-label">Name</span>
		<input type="text" ng-model="model.name">
	</label>
	<div class="item item-input" ng-init="item = model.location || {name: '-- Please select location --'}; item.label = item.name">
	 	<span class="input-label">Location</span>
		<fancy-select-object
			template-url='templates/resource/select.html'
			ng-selected="item"
			ng-model="locationList.models"
			title="Select Location">
		</fancy-select-object>
	</div>
		
	</ion-item>
  </ion-content>
</ion-view>