<ion-view>
	<ion-nav-buttons side="left">
	    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <h1 class='title'>Reservation</h1>
	</ion-nav-buttons>
	
	<ion-content>
		<label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="search" placeholder="Search" ng-model="inputFilter">
		</label>
		<div class='row'>
			<div class='col-10 navDay'>
				<button class="button icon-left ion-chevron-left button-clear button-dark" on-tap="previousDay()"></button>
			</div>
			<div class='col-80 col'>	
				<ionic-datepicker input-obj="datepickerObject">
				  <button class="button button-block button-positive"> {{datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}</button>
				</ionic-datepicker>
			</div>
			<div class='col-10 navDay'>	
				<button class="button icon-right ion-chevron-right button-clear button-dark" on-tap="nextDay()"></button>
			</div>
		</div>
		<div>
			<table>
				<tr>
					<th></th>
					<th class="th-timeslot" ng-repeat="timeslot in timeslotList.models">{{timeslot.name}}</th>
				</tr>
				<tr ng-repeat="group in resourceList.models | filter: locationFilter | filter: resourceFilter | filter: inputFilter">
					<td class="td-resource">{{group.name}} <div class="location">{{group.location.name}}</div></td>
					<td ng-repeat="item in group.timeslot.models" class="tableItem" ng-class="{'td-reserved': item.reservedBy != ''}">
						<span ng-if="item.reservedBy">{{ item.reservedBy }}</span>
						<div ng-if="!item.reservedBy"><button class="button button-balanced" ng-click="create(group._id, item.date, item._id)">Reserve</button></div>
					</td>				
				</tr>	
			</table>
		</div>		
	</ion-content>
</ion-view>