<ion-view>
	<ion-nav-buttons side="left">
	    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <h1 class='title'>Reservation</h1>
	</ion-nav-buttons>
	
	<ion-content>
		<div class='col-100 col'>
			<ionic-datepicker input-obj="datepickerObject">
			  <button class="button button-block button-positive"> {{datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}</button>
			</ionic-datepicker>
		<div class='row'>	
			<div class="col-40 col" ng-init="item = selectLocationList[0]; item.label = item.name">
				<fancy-select-object
					template-url='templates/reservation/select.html'
					ng-selected="item"
					ng-model="selectLocationList"
					title="Select Location">
				</fancy-select-object>
			</div>
			<div class="col-60 col" ng-init="item2 = selectResourceList[0]; item2.label = item2.name">
				<fancy-select-object id='selectResource'
					template-url='templates/reservation/select.html'
					ng-selected="item2"
					ng-model="selectResourceList"
					title="Select Resource">
				</fancy-select-object>
			</div>
		</div>	
		<ion-list>
		    <div ng-repeat="group in resourceList.models | filter: locationFilter | filter: resourceFilter">
		      <ion-item class="item-stable"
		                ng-click="toggleGroup(group)"
		                ng-class="{active: isGroupShown(group)}">
		          <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
		        &nbsp;
		        {{group.name}}  [<b>{{group.available}}</b> available slot(s)]
		      </ion-item>
		      <ion-item class="item-accordion"
		                ng-repeat="item in group.timeslot.models"
		                ng-show="isGroupShown(group)"
		                ng-disabled="item.disabled">
		        {{item.name}} <b>{{ item.reservedBy }}</b> <button class="button button-clear button-positive" ng-click="create(group._id, item.date, item._id)" ng-if="!item.reservedBy">Reserve</button>
		      </ion-item>
		    </div>
		</ion-list>
	
	</ion-content>
</ion-view>