<ion-view>
	<ion-nav-buttons side="left">
	    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <h1 class='title'>My Reservation</h1>
        <div class="buttons">
        	<button class="button icon-right ion-plus-round" on-tap="create();"></button>
        </div>	
	</ion-nav-buttons>
	<ion-content>
			<ion-item>
				<div class='row'>
					<div class='col-25 col'>
						<b>Resource</b>
					</div>
					<div class='col-25 col'>
						<b>Date</b> 
					</div>
					<div class='col-25 col'>
						<b>Time</b>
					</div>
					<div class='col-25 col'>
						<b>Purpose</b> 
					</div>
				</div>
				<ion-option-button</ion-option-button>
				<ion-option-button</ion-option-button>
			</ion-item>	
		<ion-list>
			<ion-item ng-repeat="model in collection.models | orderBy: 'resource.name'" ng-class="model.$hasChanged() ? 'dirty' : ''">				
				<div class='row'>
					<div class='col-25 col'>
						{{model.resource.name}} 
					</div>
					<div class='col-25 col'>
						{{model.date | date: 'dd-MMM-yyyy'}} 
					</div>
					<div class='col-25 col'>
						{{model.time.name}} 
					</div>
					<div class='col-25 col'>
						{{model.purpose}} 
					</div>
				</div>
				<ion-option-button class="button button-assertive icon-left ion-trash-b" on-tap="$event.stopPropagation(); delete(model)">Delete</ion-option-button>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll ng-if="model.state.page < model.state.total_page" on-infinite="loadMore()">
		</ion-infinite-scroll>	
	</ion-content>
</ion-view>