<ion-view>
	<ion-nav-buttons side="left">
	    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <h1 class='title'>My Reservation</h1>
        <div class="buttons">
        	<button class="button icon-right ion-plus-round" on-tap="create();"></button>
        </div>	
	</ion-nav-buttons>
	<ion-content>
		<ion-list>
			<ion-item ng-repeat="model in collection.models" ng-class="model.$hasChanged() ? 'dirty' : ''" isOdd="{{$odd}}">				
				<span class="purpose">{{model.purpose}}</span>
				<h2 class="datetime">{{model.date | date: 'dd-MMM-yyyy'}} &nbsp&nbsp&nbsp {{model.time.name}}</h2>
				<p class="resource">{{model.resource.name}}</p> 
				<ion-option-button class="button button-positive icon-left ion-edit" on-tap="$event.stopPropagation(); edit(model)">Edit</ion-option-button>
				<ion-option-button class="button button-assertive icon-left ion-trash-b" on-tap="$event.stopPropagation(); delete(model)">Delete</ion-option-button>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll ng-if="collection.state.page < collection.state.total_page" on-infinite="loadMore()">
		</ion-infinite-scroll>	
	</ion-content>
</ion-view>